:root {
  --primary-color: #e0be9a;
  --secondary-color: #5b4d43;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  background-color: #fff8f1;
}

h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 96px;
  border-bottom: 0.5px solid #5b4d43;
  padding-bottom: 25px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.headshot {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 75%;
  filter: grayscale();
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.tertiary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

p {
  margin: 30px 0;
  padding: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.blog-links {
  display: flex;
  justify-content: space-evenly;
}

.table-of-contents {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 579px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .headshot {
    padding: 20px;
  }
}
